site_name: 学习笔记

theme: 

  name: material
  language: zh

  palette: 
  # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      accent: cyan # 链接等可交互元件的高亮色
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode

    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: white # 上方的
      accent: cyan # 链接等可交互元件的高亮色
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black # 上方的
      accent: cyan # 链接等可交互元件的高亮色
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  
  features: 
    - navigation.instant
    - navigation.tabs
    # - navigation.expand
    - navigation.path
    - navigation.top
    - navigation.indexes
    - search.suggest # 搜索输入一些字母时推荐补全整个单词
    - search.highlight # 搜索出的文章关键词加入高亮
    - search.share #搜索分享按钮
    - toc.follow
    - content.code.copy
  
  icon: 
    logo: fontawesome/regular/sun

nav:
  - 主页: index.md
  - 课程笔记: 
    - 大二上: 
      - 离散数学（下）: 
        - 课程总览: 课程笔记/大二上/离散数学（下）/课程总览/index.md
        - 关系: 课程笔记/大二上/离散数学（下）/关系/关系.md
        - 半群和群: 课程笔记/大二上/离散数学（下）/半群和群/半群和群.md
    - 2025寒假: 
      - PBL数字经济与智能金融: 
        - 课程总览: 课程笔记/2025寒假/PBL数字经济与智能金融/课程总览/index.md
        - First Class：PBL教学方法: 课程笔记/2025寒假/PBL数字经济与智能金融/First_Class_PBL教学方法/First_Class_PBL教学方法.md
        - Second Class：PBL教学的常见形式: 课程笔记/2025寒假/PBL数字经济与智能金融/Second_Class_PBL教学的常见形式/Second_Class_PBL教学的常见形式.md
        - Sixth Class：教授课2: 课程笔记/2025寒假/PBL数字经济与智能金融/Sixth_Class_教授课2/Sixth_Class_教授课2.md
        - Seventh Class：助教课2: 课程笔记/2025寒假/PBL数字经济与智能金融/Seventh_Class_助教课2/Seventh_Class_助教课2.md
        - Eighth Class：教授课3: 课程笔记/2025寒假/PBL数字经济与智能金融/Eighth_Class_教授课3/Eighth_Class_教授课3.md
        - Ninth Class：助教课3: 课程笔记/2025寒假/PBL数字经济与智能金融/Ninth_Class_助教课3/Ninth_Class_助教课3.md
        - Tenth Class：教授课5: 课程笔记/2025寒假/PBL数字经济与智能金融/Tenth_Class_教授课5/Tenth_Class_教授课5.md
        - Third Class：教授课1: 课程笔记/2025寒假/PBL数字经济与智能金融/Third_Class_教授课1/Third_Class_教授课1.md
        - Fourth Class：助教课1: 课程笔记/2025寒假/PBL数字经济与智能金融/Fourth_Class_助教课1/Fourth_Class_助教课1.md
        - Fifth Class：教授课4互动直播课: 课程笔记/2025寒假/PBL数字经济与智能金融/Fifth_Class_教授课4互动直播课/Fifth_Class_教授课4互动直播课.md
        - Eleventh Class：助教课5: 课程笔记/2025寒假/PBL数字经济与智能金融/Eleventh_Class_助教课5/Eleventh_Class_助教课5.md
        - Twelfth Class：助教课4期中复习课: 课程笔记/2025寒假/PBL数字经济与智能金融/Twelfth_Class_助教课4期中复习课/Twelfth_Class_助教课4期中复习课.md
        - Thirteenth Class：助教课6: 课程笔记/2025寒假/PBL数字经济与智能金融/Thirteenth_Class_助教课6/Thirteenth_Class_助教课6.md
        - Fourteenth Class：教授课6: 课程笔记/2025寒假/PBL数字经济与智能金融/Fourteenth_Class_教授课6/Fourteenth_Class_教授课6.md
        - Fifteenth Class：教授课7互动直播课: 课程笔记/2025寒假/PBL数字经济与智能金融/Fifteenth_Class_教授课7互动直播课/Fifteenth_Class_教授课7互动直播课.md
        - Sixteenth Class：个人规划及发展建议: 课程笔记/2025寒假/PBL数字经济与智能金融/Sixteenth_Class_个人规划及发展建议/Sixteenth_Class_个人规划及发展建议.md
        - Seventeenth Class：升学与就业方向展望: 课程笔记/2025寒假/PBL数字经济与智能金融/Seventeenth_Class_升学与就业方向展望/Seventeenth_Class_升学与就业方向展望.md
    - 大二下: 
      - 计算机网络: 
        - 教材笔记:
          - 第一章: 课程笔记/大二下/计算机网络/教材笔记/第一章/第一章.md
          - 第二章: 课程笔记/大二下/计算机网络/教材笔记/第二章/第二章.md
        - 课程笔记:
          - 课程总览: 课程笔记/大二下/计算机网络/课程笔记/课程总览/index.md
          - Introduction: 课程笔记/大二下/计算机网络/课程笔记/Ch1_Introduction/Ch1_Introduction.md
          - The Physical Layer: 课程笔记/大二下/计算机网络/课程笔记/Ch2_The_Physical_Layer/Ch2_The_Physical_Layer.md
          - The Data Link Layer: 课程笔记/大二下/计算机网络/课程笔记/Ch3_The_Data_Link_Layer/Ch3_The_Data_Link_Layer.md
          - Medium Access Control Sublayer: 课程笔记/大二下/计算机网络/课程笔记/Ch4_The_Medium_Access_Control_Sublayer/Ch4_The_Medium_Access_Control_Sublayer.md
          - The Network Layer: 课程笔记/大二下/计算机网络/课程笔记/Ch5_The_Network_Layer/Ch5_The_Network_Layer.md
          - The Transport Layer: 课程笔记/大二下/计算机网络/课程笔记/Ch6_The_Transport_Layer/Ch6_The_Transport_Layer.md
      - 多元统计分析: 
        - 北京大学数学科学学院多元统计分析讲义:
          - 讲义总览: 课程笔记/大二下/多元统计分析/北京大学数学科学学院多元统计分析讲义/讲义总览/index.md
          - Chapter 1: 课程笔记/大二下/多元统计分析/北京大学数学科学学院多元统计分析讲义/Chapter_1/Chapter_1.md
        - 课程笔记: 
          - 第一章：绪论: 课程笔记/大二下/多元统计分析/课程笔记/第一章_绪论/第一章_绪论.md
          - 第二章：多变量的可视化: 课程笔记/大二下/多元统计分析/课程笔记/第二章_多变量的可视化/第二章_多变量的可视化.md
          - 第三章：多元分布的基本概念及数字特征: 课程笔记/大二下/多元统计分析/课程笔记/第三章_多元分布的基本概念及数字特征/第三章_多元分布的基本概念及数字特征.md
          - 第四章：多元统计量及抽样分布: 课程笔记/大二下/多元统计分析/课程笔记/第四章_多元统计量及抽样分布/第四章_多元统计量及抽样分布.md
          - 第五章：多元正态分布的参数估计和假设检验: 课程笔记/大二下/多元统计分析/课程笔记/第五章_多元正态分布的参数估计和假设检验/第五章_多元正态分布的参数估计和假设检验.md
          - 第六章：相关性度量: 课程笔记/大二下/多元统计分析/课程笔记/第六章_相关性度量/第六章_相关性度量.md
          - 第七章：主成分分析: 课程笔记/大二下/多元统计分析/课程笔记/第七章_主成分分析/第七章_主成分分析.md
          - 第八章：因子分析: 课程笔记/大二下/多元统计分析/课程笔记/第八章_因子分析/第八章_因子分析.md
      - 数据科学导论: 
        - 教材笔记: 
          - 课程总览: 课程笔记/大二下/数据科学导论/教材笔记/课程总览/index.md
          - 第一章：数据科学概览: 课程笔记/大二下/数据科学导论/教材笔记/第一章_数据科学概论/第一章_数据科学概论.md
        - 课程笔记: 
          - 第一章：数据科学概览: 课程笔记/大二下/数据科学导论/课程笔记/第一章_数据科学概览/第一章_数据科学概览.md
          - 第二章：数学基础: 课程笔记/大二下/数据科学导论/课程笔记/第二章_数学基础/第二章_数学基础.md
          - 第三章：Python语言基础: 课程笔记/大二下/数据科学导论/课程笔记/第三章_Python语言基础/第三章_Python语言基础.md
          - 第四章：数据预处理的基本方法: 课程笔记/大二下/数据科学导论/课程笔记/第四章_数据预处理的基本方法/第四章_数据预处理的基本方法.md
          - 第五章：分析方法初步1: 课程笔记/大二下/数据科学导论/课程笔记/第五章_分析方法初步/第五章_分析方法初步1/第五章_分析方法初步1.md
          - 第五章：分析方法初步2: 课程笔记/大二下/数据科学导论/课程笔记/第五章_分析方法初步/第五章_分析方法初步2/第五章_分析方法初步2.md
          - 第五章：分析方法初步3: 课程笔记/大二下/数据科学导论/课程笔记/第五章_分析方法初步/第五章_分析方法初步3/第五章_分析方法初步3.md
          - 第六章：数据科学实践: 课程笔记/大二下/数据科学导论/课程笔记/第六章_数据科学实践/第六章_数据科学实践.md
          - 第七章：数据科学的重要研究领域: 课程笔记/大二下/数据科学导论/课程笔记/第七章_数据科学的重要研究领域/第七章_数据科学的重要研究领域.md
          - 第八章：大数据处理技术: 课程笔记/大二下/数据科学导论/课程笔记/第八章_大数据处理技术/第八章_大数据处理技术.md
      - 计算机组成原理: 
        - 课程笔记: 
          - 课程总览: 课程笔记/大二下/计算机组成原理/课程笔记/课程总览/index.md
          - 第一章：计算机系统概述: 课程笔记/大二下/计算机组成原理/课程笔记/第一章_计算机系统概述/第一章_计算机系统概述.md
          - 第二章：运算方法和运算器: 课程笔记/大二下/计算机组成原理/课程笔记/第二章_运算方法和运算器/第二章_运算方法和运算器.md
          - 第三章：储存系统: 课程笔记/大二下/计算机组成原理/课程笔记/第三章_储存系统/第三章_储存系统.md
          - 第四章：指令系统: 课程笔记/大二下/计算机组成原理/课程笔记/第四章_指令系统/第四章_指令系统.md
          - 第五章：CPU: 课程笔记/大二下/计算机组成原理/课程笔记/第五章_CPU/第五章_CPU.md
        - 教材笔记: 
          - 教材总览: 课程笔记/大二下/计算机组成原理/教材笔记/教材总览/index.md
          - 第一章：计算机系统概述: 课程笔记/大二下/计算机组成原理/教材笔记/第一章_计算机系统概论/第一章_计算机系统概论.md
          - 第二章：运算方法和运算器: 课程笔记/大二下/计算机组成原理/教材笔记/第二章_运算方法和运算器/第二章_运算方法和运算器.md
          - 第三章：储存系统: 课程笔记/大二下/计算机组成原理/教材笔记/第三章_储存系统/第三章_储存系统.md
          - 第四章：指令系统: 课程笔记/大二下/计算机组成原理/教材笔记/第四章_指令系统/第四章_指令系统.md
          - 第五章：中央处理器: 课程笔记/大二下/计算机组成原理/教材笔记/第五章_中央处理器/第五章_中央处理器.md
          - 第六章：总线系统: 课程笔记/大二下/计算机组成原理/教材笔记/第六章_总线系统/第六章_总线系统.md
          - 第七章：外围设备: 课程笔记/大二下/计算机组成原理/教材笔记/第七章_外围设备/第七章_外围设备.md
          - 第八章：输入输出系统: 课程笔记/大二下/计算机组成原理/教材笔记/第八章_输入输出系统/第八章_输入输出系统.md
      - 形式语言与自动机: 
        - 课程笔记: 
          - 课程总览: 课程笔记/大二下/形式语言与自动机/课程笔记/课程总览/index.md
          - 第二章：语义和文法: 课程笔记/大二下/形式语言与自动机/课程笔记/第二章_语义和文法/第二章_语义和文法.md
          - 第三章：有限自动机与右线性文法: 课程笔记/大二下/形式语言与自动机/课程笔记/第三章_有限自动机与右线性文法/第三章_有限自动机与右线性文法.md
          - 第四章：上下文无关文法与下推自动机1: 课程笔记/大二下/形式语言与自动机/课程笔记/第四章_上下文无关文法与下推自动机/第四章_上下文无关文法与下推自动机1/第四章_上下文无关文法与下推自动机1.md
          - 第四章：上下文无关文法与下推自动机2: 课程笔记/大二下/形式语言与自动机/课程笔记/第四章_上下文无关文法与下推自动机/第四章_上下文无关文法与下推自动机2/第四章_上下文无关文法与下推自动机2.md
          - 第四章：上下文无关文法与下推自动机3: 课程笔记/大二下/形式语言与自动机/课程笔记/第四章_上下文无关文法与下推自动机/第四章_上下文无关文法与下推自动机3/第四章_上下文无关文法与下推自动机3.md
          - 第四章：上下文无关文法与下推自动机4: 课程笔记/大二下/形式语言与自动机/课程笔记/第四章_上下文无关文法与下推自动机/第四章_上下文无关文法与下推自动机4/第四章_上下文无关文法与下推自动机4.md
      - 数据科学数学基础: 
        - 第二章：线性代数1: 课程笔记/大二下/数据科学数学基础/第二章_线性代数/线代基础/线代基础.md
        - 第二章：线性代数2: 课程笔记/大二下/数据科学数学基础/第二章_线性代数/线代矩阵分解/线代矩阵分解.md
        - 第二章：线性代数3: 课程笔记/大二下/数据科学数学基础/第二章_线性代数/线代应用/线代应用.md
        - 第三章：最优化方法1: 课程笔记/大二下/数据科学数学基础/第三章_最优化方法/最优化入门/最优化入门.md
        - 第三章：最优化方法2: 课程笔记/大二下/数据科学数学基础/第三章_最优化方法/无约束优化/无约束优化.md
        - 第三章：最优化方法3: 课程笔记/大二下/数据科学数学基础/第三章_最优化方法/有约束优化/有约束优化.md
        - 第三章：最优化方法4: 课程笔记/大二下/数据科学数学基础/第三章_最优化方法/最优条件/最优条件.md
        - 第四章：概率论1: 课程笔记/大二下/数据科学数学基础/第四章_概率论/概率论与数理统计基础/概率论与数理统计基础.md
        - 第四章：概率论2: 课程笔记/大二下/数据科学数学基础/第四章_概率论/概率图模型/概率图模型.md
        - 第四章：概率论3: 课程笔记/大二下/数据科学数学基础/第四章_概率论/EM算法及其应用/EM算法及其应用.md
      - 面向对象程序设计实践_Java: 
        - 第一章：Java语言基础知识: 课程笔记/大二下/面向对象程序设计实践_Java/第一章_Java语言基础知识/第一章_Java语言基础知识.md
        - 第二章：类与对象: 课程笔记/大二下/面向对象程序设计实践_Java/第二章_类与对象/第二章_类与对象.md
        - 第三章：类的重用: 课程笔记/大二下/面向对象程序设计实践_Java/第三章_类的重用/第三章_类的重用.md
    - 大三上: 
      - Python程序设计与R语言: 
        - Chapter 2：内建数据结构、函数: 课程笔记/大三上/Python程序设计与R语言/Chapter2_内建数据结构_函数/Chapter2_内建数据结构_函数.md
      - 大数据技术基础: 
        - Chapter 1: 课程笔记/大三上/大数据技术基础/Chapter_1/Chapter_1.md 
      - 操作系统: 
        - Chapter 1: 课程笔记/大三上/操作系统/Chapter1_Introduction/Chapter1_Introduction.md
        - Chapter 2: 课程笔记/大三上/操作系统/Chapter2_System_Structure/Chapter2_System_Structure.md
        - Chapter 3: 课程笔记/大三上/操作系统/Chapter3_Process_Concept/Chapter3_Process_Concept.md
        - Chapter 4: 课程笔记/大三上/操作系统/Chapter4_Multithreaded_Programming/Chapter4_Multithreaded_Programming.md
        - Chapter 5: 课程笔记/大三上/操作系统/Chapter5_Process_Scheduling/Chapter5_Process_Scheduling.md
        - Chapter 6: 课程笔记/大三上/操作系统/Chapter6_Process_Synchronization/Chapter6_Process_Synchronization.md
      - 基于大数据的机器学习: 
        - 概述: 课程笔记/大三上/基于大数据的机器学习/概述/概述.md
        - 几何模型: 课程笔记/大三上/基于大数据的机器学习/几何模型/几何模型.md
        - 神经网络初步: 课程笔记/大三上/基于大数据的机器学习/神经网络初步/神经网络初步.md
        - 逻辑模型: 课程笔记/大三上/基于大数据的机器学习/逻辑模型/逻辑模型.md
        - 模型的评估和选择: 课程笔记/大三上/基于大数据的机器学习/模型的评估和选择/模型的评估和选择.md
      - 数据库系统原理: 
        - Chapter 1: 课程笔记/大三上/数据库系统原理/Chapter1_Introduction/Chapter1_Introduction.md
        - Chapter 2: 课程笔记/大三上/数据库系统原理/Chapter2_Relation_Model/Chapter2_Relation_Model.md
        - Chapter 3: 课程笔记/大三上/数据库系统原理/Chapter3_SQL/Chapter3_SQL.md
        - Chapter 4: 课程笔记/大三上/数据库系统原理/Chapter4_Intermediate_SQL/Chapter4_Intermediate_SQL.md
        - Chapter 6: 课程笔记/大三上/数据库系统原理/Chapter6_Database_Design_Using_the_E_R_Model/Chapter6_Database_Design_Using_the_E_R_Model.md

  - 自学笔记: 
    - 2025寒假: 
      - Java: 
        - Java入门: 自学笔记/2025寒假/Java/Java入门/index.md
        - Java基础概念: 自学笔记/2025寒假/Java/Java基础概念/Java基础概念.md
      - MkDocs&Github WorkFlow: 
        - 构建简介: 自学笔记/2025寒假/MkDocs_and_Github_WorkFlow/index.md
        - Git: 自学笔记/2025寒假/MkDocs_and_Github_WorkFlow/Git/index.md
        - Markdown: 自学笔记/2025寒假/MkDocs_and_Github_WorkFlow/Markdown/index.md
        - MkDocs: 自学笔记/2025寒假/MkDocs_and_Github_WorkFlow/MkDocs/index.md
        - YAML: 自学笔记/2025寒假/MkDocs_and_Github_WorkFlow/YAML/index.md
  - 科研笔记: 
    - 论文阅读: 
      - 清华大学SUN实验室: 
        - MIMO_Radar: 科研笔记/论文阅读/清华大学SUN实验室/MIMO_Radar/MIMO_Radar.md
        - 动态位置人员生命体征检测的系统实现方法: 科研笔记/论文阅读/清华大学SUN实验室/动态位置人员生命体征检测的系统实现方法/动态位置人员生命体征检测的系统实现方法.md
  - 读书笔记: 
    - 知新札记: 读书笔记/index.md
    - 2025.2.16《载人火星探测航天运输系统》: 
      - 笔记总览: 读书笔记/2025_2_16_载人火星探测航天运输系统/index.md
      - 第二章 载人火星探测模式及其航天运输系统方案发展情况: 读书笔记/2025_2_16_载人火星探测航天运输系统/第二章_载人火星探测模式及其航天运输系统方案发展情况/第二章_载人火星探测模式及其航天运输系统方案发展情况.md
    - 2025.3.13《多元统计分析引论》: 
      - 笔记总览: 读书笔记/2025_3_13_多元统计分析引论/index.md
      - 第一章 矩阵: 读书笔记/2025_3_13_多元统计分析引论/第一章_矩阵/第一章_矩阵.md

markdown_extensions:

  - admonition
  - attr_list
  - tables

  - pymdownx.arithmatex:
      generic: true

  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

  - pymdownx.highlight: # 代码块高亮
      anchor_linenums: true
      linenums: true # 显示行号
      line_spans: __span
      pygments_lang_class: true
      auto_title: true # 显示编程语言名称

  - pymdownx.tabbed:
      alternate_style: true

  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  - toc:
      permalink: true # 固定标题位置为当前位置

extra_javascript:
  - javascripts/extra.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:

  - stylesheets/extra.css
